//
// For the products on the index page
//-----------------------------------

.product-wrapper {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 0px;
  background-color: #fff;
  border: 1px solid @well-border;
  border-radius: @border-radius-base;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
}

